/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
@import url(./variables.css);

:root {
  --article-font-color: #F1B2CE;
  --background_font-dark: #FF0070;
  --background-colour-dark: #000028;
}

@media (prefers-color-scheme: dark) {
  :root {
    --article-font-color: #F1B2CE;
    --background_font-dark: #FF0070;
    --background-colour: #000028;
  }
}

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  color: var(--background_font-dark);
  background-color: var(--background-colour);
}


