/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

@import url(./variables.css);

:root {
  --main-font: 'IBM Plex Mono';
  --article-font-color: #F1B2CE;
  --background_font-bright: #FF8DCB;
  --background-colour: #FFF1F7;
}

@media (prefers-color-scheme: light) {
  :root {
    --header-footer-title: #FFC2E6;
    --main-font: 'IBM Plex Mono';
    --article-font-color: #F1B2CE;
    --background_font-bright: #FF8DCB;
    --backgroung-colour: #FFF1F7;
  }
}


.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-image: url(../images/cover-image-light.png);
  --header-footer-title: #FFC2E6;
  --accent-color: #FF8DCB;
  --dark-text: #353430;
  --main-text-color: #353430;
  --main-title: #353430;
  --main-title-color: #353430;
  --button-color: #353430;
  --background-font: #FF8DCB;
  .header__rec-sign {
    visibility: hidden;
  }
}
