@import url(./variables.css);

.page {
  min-inline-size: 375px;
  margin: 0;
  font-family: var(--main-font, sans-ferif);
  color: var(--);
  padding: 0 10px;
  background-image: url(../images/cover-image-dark.png);
  background-attachment: fixed;
}

a:focus,
button:focus {
  outline: none;
}

main {
  background-color: var(--background_colour-dark);
}

.header {
  display: grid;
  grid-auto-flow: row;
  margin-bottom: 40px;
}

.header__rec-sign {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--background_font-dark);
  position: relative;
  justify-self: flex-end;
  padding-right: 35px; 
}

.header__rec-sign::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0; 
  left: 40px;
  width: 9px;
  height: 9px;
  box-shadow: 0 0 4px var(--background_font-dark);
  border-radius: 50%;
  background-color: var(--background_font-dark);
  transform: translateY(-50%);
}

.header__rec-sign::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 35px; 
  width: 20px;
  height: 20px;
  border-top: 1px solid var(--background_font-dark);
  border-right: 1px solid var(--background_font-dark);
  transform: translateY(-50%);
}

.border-top {
  width: 20px;
  height: 20px;
  border-top: 1px solid var(--background_font-dark);
  border-right: 1px solid var(--background_font-dark);
  justify-self: flex-end;
}

.border-bottom {
  width: 20px;
  height: 20px;
  border-bottom: 1px solid var(--background_font-dark);
  border-left: 1px solid var(--background_font-dark);
}



.header__heading {
  margin: 65px 0 55px;
}

.heading_dark-theme {
  color: #DB00FF;
  text-shadow: 4px 4px 0 #FF0070;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 95.7px;
  text-align: left;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 39px 0 0;
}

.header__theme-menu-item {
  align-self: self-end;
  margin-right: 10px;
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  background: none;
  color: var(--background_font-dark);
  border: none;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  border: solid 1px var(--background_font-dark)
}

.header_title {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  background-color: var(--background_font-dark);
  margin: 0 10px 40px;
  max-width: 364px;
  justify-self: flex-end;
}

ul {
  padding-left: 0;
}





section {
  margin-bottom: 50px;
  background-color: var(--background_colour-dark);
}

.section_title {
  color: var(--background_font-dark);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
}

.section_article_title {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  background-color: var(--background_font-dark);
  margin: 10px 0;
}

.section_article {
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  color: var(--article-font-color);
  margin-bottom: 20px;
}
.section_article a {
  text-decoration: underline;
  text-shadow: 3px 3px 4px #FF8DCB;
}

.section_tip_title a {
  text-decoration: none;
  text-shadow: 3px 3px 4px #FF8DCB;
}

.section_tip_title {
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  background-color: var(--background_font-dark);
  margin: 10px 0;
}

.section__gallery {
  display: grid;
  gap: 10px;
}

.section_gallery-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  background-color: var(--background_font-dark);
  margin-bottom: 10px;
}



.section__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: grid;
  height: 668px;
  background-color: var(--background_colour-dark);
}

.footer__heading {
  justify-self: center;
}

@media (width >= 768px) {
  .section-one {
    display: flex;
    flex-direction: row;
  }
  
  .section-three {
    display: flex;
    flex-direction: row;
  }

  .section__gallery {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 40%;
  }

  

  .item1 {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .item2 {
    grid-column: 3;
    grid-row: 1 / span 2;
  }

  .item3 {
    grid-column: 1;
    grid-row: 2 / span 2;
  }

  .item4 {
    grid-column: 2;
    grid-row: 2;
  }

  .item5 {
    grid-column: 2 / span 2;
    grid-row: 3;
  }
}

@media (width >= 1024px) {
  .header_title {
    max-width: 491px;
  }

  .section-two__list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;
  }
}