:root {
  background-image: url(../images/cover-image-dark.png);
  --main-font: "IBM Plex Mono", "Arial", sans-serif;
  --button-color: #ff0070;
  --header-footer-title-color: #db00ff;
  --background-title-color: #ff0070;
  --background-page-color: #000028;
  --main-title-color: #000028;
  --main-title-color-no-frame: #ff0070;
  --main-text-color: #f1b2ce;
  .header .border-top {
    visibility: hidden;
  }
  .header__rec-sign {
    visibility: visible;
  }
}
