:root {
  --main-font: 'IBM Plex Mono';
  --article-font-color: #F1B2CE;
  --background_font-dark: #FF0070;
  --background_font-bright: #FF8DCB;
  --background_colour-dark: #000028;
  --backgroung_colour-bright: #FFF1F7;
}